.chatbar {
	padding: 0;
	background: #3C382C;
	min-height: 100%;
	height: 100%;

	.title {
		color: white;
		background: #322F24;
		padding: 1rem 15px;
		h4 {
			display: inline-block;
		}
	}

	.channels {
		margin: 6rem 0;
		.list-group-item {
			border: 0;
			background: #3C382C;
			color: #857D64;	
			cursor: pointer;		
			&.title {
				h4 {
					display: inline-block;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1em;
				}
			}
			&:hover, &:active {
				background: #322F24;
			}			
		}
	}

	.messages {
		margin: 3.5rem 0;
		.list-group-item {
			border: 0;
			background: #3C382C;
			color: #857D64;		
			text-transform: capitalize;	
			cursor: pointer;
			&.title {
				h4 {
					display: inline-block;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1em;					
				}
			}
			&:hover, &:active {
				background: #322F24;
			}
		}
	}
}