body {
    background: #fefefe;
}

#header {
    .navbar {
        border-radius: 0;
    }
}

#footer {
    &.footer-inverse {
        background: #222222;
        padding: 2rem;
        p {
            color: white;
        }
    }
}

.inline {
    display: inline-block;
}