<footer id="footer" class="footer-inverse">
    <div class="row">
        <div class="container text-center">
            <p>Copyright &copy; ChatSchool 2017</p>
        </div>
    </div>
</footer>