<div class="panel panel-default">
    <div class="panel-heading">Edit user</div>
    <div class="panel-body">
        <form action="/users/{{ user._id }}?_method=PUT" method="POST">
            {{> users/_form }}
        </form>
    </div>
</div>